body{
    background-color: #ffffe6;
    font-family: 'Helvetica Neue';
    color: grey;
    font-size: 20px;
    line-height: 1.25em;
}

body.index{
    background-image: url("../images/rose.jpg");

}

h1{
    color: #006666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.title{
    font-family: 'Courier New', Courier, monospace;
    color: #006666;
    text-align: center;
    margin-top: 10px;
}

h3{
    color: #006666;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    text-align: center;
    display: block;
    margin: 20px;
    margin-top: 30px;
}

nav a{
    color:darkgrey;
    text-decoration: none;
    font-size: 16px;

}
nav a:visited{
    color:grey;
    text-decoration: none;
}

nav li{
    display:block;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

a.siteheader{
    text-decoration: none
}

a:visited.siteheader{
    color: #006666;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 4em;
}

.responsive-img{
    width: 100%;
    height: auto;
}

.center{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

h1 a{
    color: #006666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    text-decoration: none;
}

pageheader{
    color: black;
}



@media screen and (max-width:750px){
    body{
        font-size: 18px;
    }

    nav a{
        font-size: 14px;
    }

    .flex-container{
        padding: 3em;
    }

    h1{
        font-size: 30px;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 24px;
    }
    
    nav ul{
        display: block;
        margin: 4px;
        margin-top: 8px;
    }

    nav li{
        padding: 4px;
    }

    nav a{
        font-size: 16px;
    }

    body{
        font-size: 16px;
    }

    img{
        padding: 4px;
    }

    h2{
        text-align: center;
    }

    h3{
        text-align: center;
    }

}

@media screen and (min-width:1200px){
    nav a{
        font-size: 20px;
    }

    body{
        font-size: 22px;
    }

    h2.title{
        font-size: 35px;
        margin: 20px;
    }

    .flex-container{
        width: 55%;
    }

    h1{
        font-size: 50px;
    }
}
