body{
    background-color: #ffffe6;
    font-family: 'Helvetica Neue';
    color: #4A4A4A;
    font-size: 18px;
    line-height: 1.25em;
}

body.index{
    background-image: url("../images/rose.jpg");

}

h1{
    color: #006666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.title{
    font-family: 'Courier New', Courier, monospace;
    color: #006666;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}


h3{
    color: #006666;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    text-align: center;
    display: block;
    margin: 20px;
    margin-top: 30px;
}

nav a{
    color:#4A4A4A;
    text-decoration: none;
    font-size: 16px;

}

nav li{
    display:block;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}


a:visited.siteheader{
    color: #188888;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 4em;
}

.responsive-img{
    width: 100%;
    height: auto;
}

.center{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

h1 a{
    color: #006666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    text-decoration: none;
}

pageheader{
    color: black;
}



/* ACCORDION CSS SOURCED FROM https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color:#fff5e9;
    color: 4A4A4A;
    font-size: 18px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: solid white;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: peachpuff;
    color: 4A4A4A;
  }
  
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

/* Styling Footer */
footer{
    font-size: 14px;
    color: #006666;
    text-align: center;
    margin-top: 100px;
}

#contact-info{
    display: none;
}

ul{
    padding-left: 40px;
}

/* SKIP TO MAIN CONTENT CSS: https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* SOURCE USED FOR HELP WITH FLEXBOX CSS https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/inc_flexbox_photo_gallery_flex-direction_row */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: 100vh;
    padding: 5px;
    justify-content: center;
    margin-bottom: 10em;
    margin-top: 20px;
  }
.cards img {
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    width: 10em;

  }

.flexy{
    display: flex;
    flex-direction: row;
}

.flexy div{
    flex:4;
}

#smallflexbox1{
    flex: 1;
    font-size: 50px;
}

#smallflexbox2{
    flex:1;
    font-size: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width:750px){
    body{
        font-size: 18px;
    }

    nav a{
        font-size: 14px;
    }

    .main-container{
        padding: 3em;
    }

    h1{
        font-size: 30px;
    }

    .cards{
        margin-bottom: 60em;
    }

}


@media screen and (max-width:600px){
    h1{
        font-size: 24px;
    }
    
    nav ul{
        display: block;
        margin: 4px;
        margin-top: 8px;
    }

    nav li{
        padding: 4px;
    }

    nav a{
        font-size: 16px;
    }

    nav{
        margin:5px;
    }

    body{
        font-size: 16px;
    }

    img{
        padding: 4px;
    }

    h2{
        text-align: center;
    }

    h3{
        text-align: center;
    }

}

@media screen and (min-width:1200px){
    nav a{
        font-size: 20px;
    }

    body{
        font-size: 20px;
    }

    h2.title{
        font-size: 35px;
        margin: 20px;
    }

    .main-container{
        width: 55%;
    }

    h1{
        font-size: 50px;
    }

    .cards{
        margin-bottom: 10px;
    }
}
